@use '/src/styles/variables' as *;
@use '/src/styles/animations' as *;
@use '/src/styles/utils' as *;

.InitialForm {
  @include darkBackgroundGradient();
  min-height: 100vh;
  color: white;
  font-family: 'Inter';
  position: relative;
  top: -20px;
  padding: 35px 8px;

  .ant-btn {
    margin: 20px auto 10px auto;
    display: block;
  }
}

// // desk mob xs sm md lg xl xxl
// @include onlyIn(lg) {
//   background-color: #f28181;
// }
